@keyframes AnimationName {
    0%{background-position:0% 51%}
    100%{background-position:100% 50%}
}
html, body{
    background: ghostwhite;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(270deg, #fae17b, #edb9b4, #e8a1b0, #bba5cc, #a1cdeb);
    background-size: 1000% 1000%;
    animation: AnimationName 120s ease infinite;
    font-family: 'Montserrat', sans-serif;
}
#button{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    padding: 0;
    border: 0;
    position: absolute;
    text-align: center;
}
.card{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
}
p{
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-top: -10px;
    color: floralwhite;
    transform: rotateY(180deg);
}

@keyframes revert_start {
    50%{
        transform: rotateY(90deg);
        transform: scale(1.5);
        background: floralwhite;
    }
    100%{
        background: black;
        transform: rotateY(180deg);
    }
}

/*left left left*/
/*left left left*/
/*left left left*/

@keyframes regroup_left {
    0%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -150px;
    }
}
.left{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    position: absolute;
    background: floralwhite;
    transition: all 0.2s;
    animation-name: regroup_left;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
.left:hover{
    transform: scale(1.2);
    box-shadow: 0 19px 38px rgba(0,0,0,0.40), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.l-revert{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    position: absolute;
    transition: all 0.2s;
    animation-name: revert_start;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*right right right*/
/*right right right*/
/*right right right*/

@keyframes regroup_right {
    0%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: 50px;
    }
}
.right{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    background: floralwhite;
    transition: all 0.2s;
    animation-name: regroup_right;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.right:hover{
    transform: scale(1.2);
    box-shadow: 0 19px 38px rgba(0,0,0,0.40), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.r-revert{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: 50px;
    position: absolute;
    transition: all 0.2s;
    animation-name: revert_start;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}