html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #353842;
    font-family: 'Montserrat', sans-serif;
}
#button{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    padding: 0;
    border: 1px;
    position: absolute;
    text-align: center;
    transition: all ease 0.2s;
    font-family: 'Montserrat', sans-serif;
    font-size: 1em;
    box-shadow:
            1px 1px #009E60,
            2px 2px #009E60,
            3px 3px #009E60,
            4px 4px #009E60,
            5px 5px #009E60,
            6px 6px #009E60,
            7px 7px #009E60;
}
#button:hover{
    -webkit-transform: translateX(-7px) scale(1.2);
    transform: translateX(-7px) scale(1.2);
}
#button:active{
    box-shadow: 0 0 0;
    -webkit-transform: translateX(0) scale(1);
    transform: translateX(0) scale(1);
}
span{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
}

.card{
    height: 100px;
    width: 100px;
    display: inline-block;
    margin: 25px;
}
p{
    text-align: center;
    font-size: 100px;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin-top: -10px;
    color: floralwhite;
    transform: rotateY(180deg);
}

@keyframes revert_start {
    35%{
        transform: rotateY(90deg);
        transform: scale(1.5);
        background: floralwhite;
    }
    100%{
        background: black;
        transform: rotateY(180deg);
    }
}

/*left left left*/
/*left left left*/
/*left left left*/

@keyframes regroup_left {
    0%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -150px;
    }
}
.left{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    background: floralwhite;
    transition: all 0.2s;
    animation-name: regroup_left;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow:
            1px 1px #F28411,
            2px 2px #F28411,
            3px 3px #F28411,
            4px 4px #F28411,
            5px 5px #F28411,
            6px 6px #F28411,
            7px 7px #F28411;
}
.left:hover{
    box-shadow:
            1px 1px #F28411,
            2px 2px #F28411,
            3px 3px #F28411,
            4px 4px #F28411,
            5px 5px #F28411,
            6px 6px #F28411,
            7px 7px #F28411;
    -webkit-transform: translateX(-7px) scale(1.2);
    transform: translateX(-7px) scale(1.2);
}
.left:active{
    box-shadow: 0 0 0;
    transition: all 0.2s ease;
    -webkit-transform: translateX(7px) scale(1);
    transform: translateX(7px) scale(1);
}
.l-revert{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -150px;
    position: absolute;
    transition: all 0.2s;
    animation-name: revert_start;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

/*right right right*/
/*right right right*/
/*right right right*/

@keyframes regroup_right {
    0%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: -50px;
    }
    100%{
        top: 50%;
        left: 50%;
        margin-top: -50px;
        margin-left: 50px;
    }
}
.right{
    height: 100px;
    width: 100px;
    max-height: 150px;
    max-width: 150px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    position: absolute;
    background: floralwhite;
    transition: all 0.2s;
    animation-name: regroup_right;
    animation-timing-function: ease;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    box-shadow:
            1px 1px #009E60,
            2px 2px #009E60,
            3px 3px #009E60,
            4px 4px #009E60,
            5px 5px #009E60,
            6px 6px #009E60,
            7px 7px #009E60;

}
.right:hover{
    box-shadow:
            1px 1px #009E60,
            2px 2px #009E60,
            3px 3px #009E60,
            4px 4px #009E60,
            5px 5px #009E60,
            6px 6px #009E60,
            7px 7px #009E60;
    -webkit-transform: translateX(-7px) scale(1.2);
    transform: translateX(-7px) scale(1.2);
}
.right:active{
    box-shadow: 0 0 0;
    transition: all 0.2s ease;
    -webkit-transform: translateX(7px) scale(1);
    transform: translateX(7px) scale(1);
}
.r-revert{
    height: 100px;
    width: 100px;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: 50px;
    position: absolute;
    animation-name: revert_start;
    animation-timing-function: ease;
    animation-delay: 0.1s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}